asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.1
idna==3.10
mysqlclient==2.2.4
pillow==10.4.0
razorpay==1.4.2
requests==2.32.3
setuptools==75.3.0
sqlparse==0.5.1
urllib3==2.2.3
gunicorn==23.0.0

